.u-section-1 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-1 .u-group-1 {
  width: 500px;
  min-height: 600px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 150px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 15px;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: normal;
  margin: 41px auto 0;
}

.u-section-1 .u-form-1 {
  height: 191px;
  width: 440px;
  margin: 41px auto 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-3 {
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-custom-php-1 {
  min-height: 228px;
  width: 570px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-php-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-php-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-custom-php-1 {
    width: 340px;
  }
}